/* Coolors Exported Palette - coolors.co/ff595e-ffca3a-1982c4-8da210-6a4c93 */

/* HSL */
$color1: hsla(358%, 100%, 67%, 1);
$color2: hsla(44%, 100%, 61%, 1);
$color3: hsla(203%, 77%, 43%, 1);
$color4: hsla(69%, 82%, 35%, 1);
$color5: hsla(265%, 32%, 44%, 1);

/* RGB */
$color1: rgba(255, 89, 94, 1);
$color2: rgba(255, 202, 58, 1);
$color3: rgba(25, 130, 196, 1);
$color4: rgba(141, 162, 16, 1);
$color5: rgba(106, 76, 147, 1);